body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    padding: 8px 32px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.hero .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 16px;
}

.hero img {
    max-width: 400px;
    border-radius: 15px;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.info-cards {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 32px;
}

.info-cards .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: #1F2937;
}

.card img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border: solid 3px #3882F6;
    border-radius: 15px;
}

.quote-block {
    background-color: #E5E7EB;
    color: #F9FAF8;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote-block .container {
    max-width: 600px;
    color: #1F2937;
}

.quote {
    font-size: 36px;
}

.quote-atrib {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
}